Package: big-apt-get-tweaks
Version: 5.0.0-1big2
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Description: Improve apt-get and dpkg configuration for desktops

